* {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
}

header {
    background-color: lightblue;
    padding: 1rem;
}

header .container {
    border-radius: .25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .btn-auth {
    background-color: #007bff;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: .25rem;
    text-decoration: none;
    transition: background-color .3s;
}

header .container .btn-auth:hover {
    background-color: #0056b3;
}

header .container .btn-signup {
    background-color: #007bff;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: .25rem;
    text-decoration: none;
    transition: background-color .3s;
}

header .container .btn-signup:hover {
    background-color: #0056b3;
}

header .container .btn-text{
    background-color: #007bff;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: .25rem;
    text-decoration: none;
    transition: background-color .3s;
}

header .container .btn-text:hover {
    background-color: #0056b3;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}
header h1 {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
}
.intro p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.content {
    background-color: lightblue;
    text-align: auto;
    padding: 50px;
}

p {
    border: 1px solid #e5e7eb;
    text-align: left;
    background: #f6f8fa;
    padding: .5rem .75rem;
    border-radius: .25rem;
    margin-bottom: 1rem;
}
main.commands {
    text-align: left;
    background: #fff;
    padding: 1rem;
    border-radius: .5rem;
}
code {
    background: #f6f8fa;
    padding: .2rem .4rem;
    border-radius: .25rem;
    font-family: monospace;
}
main img {
    display: block;
    margin: 0 auto 1rem;
}

main section {
    display: flex;
    border-radius: .25rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 1rem;
}

.box {
    display: flex;
    align-items: center; 
    gap: 10px;              
    background: lightblue;
    padding: .5rem .75rem;
    border-radius: .25rem;
}

.box h2 {
    font-size: 1.25rem;
    margin-bottom: .5rem;
    color: #333;
    text-align: center;
    flex: 1;
}

.box img {
    width: 250px;
    height: auto;
}

.box li {
    display: flex;
    list-style: none;
    background: lightblue;
    padding: .5rem .75rem;
    border-radius: .25rem;
    flex: 1;
    text-align: center;
}

.highlight {
    display: flex;
    background-color: lightblue;
    padding: .2rem .4rem;
    border-radius: .25rem;
}

.highlight li {
    list-style: none;
    text-align: center;
    flex: 1;
}

footer .container {
    background-color: lightblue;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: .25rem;
}
footer .container p{
    text-align: center;
}
